## Ignore Visual Studio temporary files, build results, and
## user-specific files

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Windows image file caches
Thumbs.db
ehthumbs.db

# VS folder
.vs/

# Others
*.log
*.vspscc
*.vssscc
_ReSharper*/
*.DotSettings.user
*.ncrunchproject
*.localhistory/
*.sdf
*.dbmdl
*.bak
*.cache
*.pdb
*.pidb
*.svclog
*.scc

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
